body{
    font-family: 'Comfortaa', cursive;
    background-color : #FAFAF9;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
   /* padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right:auto;*/
}
.main{
    /*display : flex;
    flex-direction: column;*/
}
h1{
    color:black;
    /*padding-right:  15px;
    padding-left:  15px ;*/
}
p {
    width:auto;
    font-size: 25px;
    color:black;
   /* padding-right:  15px;
    padding-left:  15px ;
    margin : auto;*/
}

/*.image{
    width: 400px;
    margin: auto;
    padding: auto;
    border-radius: 5px;
    padding-right:  15px;
    padding-left:  15px ;
}*/
/*NAVBAR*/
nav {
    display: flex;
    background-color: black;
    width: 100%;
    height: 70px;
  }
  .navbar-extends {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: none;
    justify-content: space-around;
    align-items: center;
    color: white;
  }
  .hamburger {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
  }
  .title-panam-web {
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .navbar-desktop {
    color: white;
    display: none;
    width: 100%;
    align-items: baseline;
    justify-content: space-around;
    margin-top:0;
    list-style-type: none;
  }
  /*.tabs {
    padding: 5px;
  }*/
  
  .tabs a{
      text-decoration: none;
      color:white;
  }
  #hello-paris {
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
  }
  #hello-paris img{
    height:1.8rem;
    background-color: black;
  }
  #hello-paris:hover {
    transform: translateX(-10px);
  }
  .navbar-desktop li i {
    margin-right: 5px;
  }


/*MONUMENTS*/
/*.monuments img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.monuments h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 30px;
}*/


.toureiffel {
    display: block;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    position: relative;
    justify-content: center;
    align-content: center;
   /* margin: auto;
    padding: auto;*/
    height: auto;
    text-align: center;
   /* margin-bottom: 10px;*/
    background-clip: border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;

}
.toureiffelimg{
    border-style: none;
    border-radius: 5px;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.toureiffelbody{
    padding : 1.25rem;
}
/*.toureiffeltext : last-child{
    margin-bottom : 0;
}*/
.arcdetriomphe {
    display: block;
   /* flex-direction: column;
    flex-wrap: wrap;*/
    position: relative;
    justify-content: center;
    align-content: center;
   /* margin: auto;
    padding: auto;*/
    text-align: center;
   /* margin-bottom: 10px;*/
    background-clip: border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;
}
.arcdetriompheimg{
    border-style: none;
    border-radius: 5px;
    width:100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.arcdetriomphebody{
    padding : 1.25rem;
}
/*.arcdetriomphetext : last-child{
    margin-bottom : 0;
}*/

.notredame {
    display: block;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    position: relative;
    justify-content: center;
    align-content: center;
   /* margin: auto;
    padding: auto;*/
    text-align: center;
   /* margin-bottom: 10px;*/
    background-clip: border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;
}
.notredameimg{
    border-style: none;
    border-radius: 5px;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.notredamebody{
    padding : 1.25rem;
}
/*.notredametext : last-child{
    margin-bottom : 0;
}*/

/*MUSEES*/

/*.musees img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.musees h2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:black;
    font-size: 30px;
    padding-right:  15px;
    padding-left: 15px ;
}*/


.louvre {
    display: block;
   /* flex-direction: column;
    flex-wrap: wrap;*/
    position: relative;
    justify-content: center;
    align-content: center;
   /* margin: auto;
    padding: auto;*/
    text-align: center;
    /*margin-bottom: 10px;*/
    background-clip: border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;
}
.louvreimg{
    border-style: none;
    border-radius: 5px;
    width: 100%;
    vertical-align: middle;
    box-sizing: content-box;
}
.louvrebody{
    padding : 1.25rem;
}
/*.louvretext : last-child{
    margin-bottom : 0;
}*/
.bateaumouche {
    display: block;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    position: relative;
    justify-content: center;
    align-content: center;
    /*margin: auto;
    padding: auto;*/
    text-align: center;
    /*margin-bottom: 10px;*/
    background-clip: border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;
}
.bateaumoucheimg{
    border-style: none;
    border-radius: 5px;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}
.bateaumouchebody{
    padding : 1.25rem;
}
/*.bateaumouchetext : last-child{
    margin-bottom : 0;
}*/

.moulinrouge {
    display: block;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    position: relative;
    justify-content: center;
    align-content: center;
    /*margin: auto;
    padding: auto;*/
    text-align: center;
    /*margin-top: 20px;*/
    background-clip: border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;
}
.moulinrougeimg{
    border-style: none;
    border-radius: 5px;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    /*padding-bottom: 36px;*/
}
.moulinrougebody{
    padding : 1.25rem;
    /*padding-top: 38px;
    padding-bottom: 50px;*/
}
.moulinrougetitle{
    padding-top: 2px;
}
/*.moulinrougetext : last-child{
    margin-bottom : 0;
}*/

/*BUTTONS*/

button{
    padding:4px;
    /*cursor:pointer;*/
    border-radius:5px;
    font-size:15px;
    background-color: black;
    /*padding-bottom:0px;
    margin-left: 20%;*/
    margin-bottom: 5px;
    margin-left: 70%;
    opacity: 0.8;
}
 button :hover {
    color:gold;
}
button a {
    color: white;
}

/*ANIMATION*/

/*.fade::after{
    content:"";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.fade:hover::after{
    opacity: 0.2;
}*/

/*FOOTER*/

footer {
    height: 150px;
    width: 100%;
    display: column;
    margin: 20px auto 0;
    padding-top: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

.copyright {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 80%;
}

.copyright p {
    font-size: 10px;
    color:white;
}

.copy {
    height: 10px;
    fill: white;
    margin: auto 2px auto 2px;
}

.wild {
    display: none;

}

.wild:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

p.contactus {
    margin-right: 30px;
    font-size: 20px;
    font-weight: 900;
   /* color:white;*/
}
.contact {
    text-decoration: none;
}
.contact:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: yellow;
}
.contact:visited {
    color: white;
}
.contact:active{
    color: white;
}
.reseau {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.reseau img {
    height: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.reseau img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.wcs {
    font-style: italic;
    color: lightgray;
}

/*RESPONSIVE*/
@media screen and (min-width: 1300px){
    /*MONUMENTS*/
    .monuments{
        display: flex;
    }
/*MUSEES*/
    .musees{
        display: flex;
    }
/*BUTTONS*/
    button a{
        font-size: 20px;;
    }

}

@media screen and (min-width: 800px) {
/*NAVBAR*/

    .hamburger {
        display: none;
      }
      .title-panam-web {
        margin-left: 30px;
      }
      .navbar-desktop {
        display: flex;
      }
      .title-panam-web {
        display: none;
      }
      .tabs{
          padding-top: 30px;
          padding-bottom: 25px;
          padding-right: 4px;
          padding-left :4px;
      }
      .tabs:hover {
        cursor: pointer;
        background-color: white;
        color: black;
       /*border-radius: 5px;*/
      }
      .tabs:hover a{
          color: black;
      }
/*MONUMENTS*/
    .monuments{
        display: flex;
        height:50%;
        width:100%;
    }
    .toureiffel{
        margin:10px;
       /* height:auto;*/
    }
    .toureiffelbody p{
        font-size: 15px;
        text-align: justify;
        width: 90%;
    }
    .toureiffelbody{
        width: 90%;
    }
    .arcdetriomphe{
        margin:10px;
    }
    .arcdetriomphebody p {
        font-size: 15px;
        text-align: justify;
        width: 100%;
    }
    .notredame{
        margin:10px;
    }
    .notredamebody p{
        font-size: 15px;
        text-align: justify;
        width: 100%;
    }
/*MUSEES*/
    .musees{
        display: flex;
        height:50%;
        width:100%;
    }
    .louvre{
        margin:10px;
    }
    .louvrebody p{
        font-size: 15px;
        text-align: justify;
        width: 100%;
    }
    .bateaumouche{
        margin:10px;
    }
    .bateaumouchebody p{
        font-size: 15px;
        text-align: justify;
        width: 100%;
    }
    .moulinrouge{
        margin:10px;
    }
    .moulinrougebody p{
        font-size: 15px;
        text-align: justify;
        width: 100%;
    }
/*BUTTONS */

button{
    /*padding:4px;
    cursor:pointer;
    border-radius:5px;*/
    font-size:10px;
    /*background-color: black;
    padding-bottom:0px;
    margin-left: 20%;
    margin-bottom: 5px;
    margin-left: 70%;
    opacity: 0.8;*/
}
 /*button :hover {
    color:gold;
}
button a {
    color: white;
}*/


/*FOOTER*/

  footer {
        height: 100px;
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: white;
        padding: 0;
        margin-bottom: 0;
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .copyright p {
        font-size: 15px;
        color: white;
        
    }
    p.contactus{
        font-size: 25px;
    }

    .copy {
        height: 20px;
        fill: white;
        margin: 0 20px 5px 20px;
    }

    .wild:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    .contactus {
        margin-right: 30px;
        font-size: 20px;
        font-weight: 900;
    }

    .contactus:hover {
        transform: scale(1.1);
        transition: 0.5s;
        color: yellow;
    }

    .reseau {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 30px;
        margin-top: 0;
        width: 100%;
    }

    .reseau img {
        height: 30px;
        margin-left: 20px;
        margin-bottom: 5px;
    }

    .reseau img:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    .wcs {
        font-style: italic;
        color: lightgray;
    }
}