/*-------------------------Home-----------------------*/

body {
  font-family: "comfortaa", Arial, Helvetica, sans-serif;
  background-color: #fafaf9;
}

header {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
}

.hero {
  width: 100%;
  height: 340px;
  background-image: url("images/eiffel-tower-3349075__340.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 5px;
}

.hero p {
  color: white;
  font-size: 1rem;
  background-color: black;
  margin: 0;
  padding: 2px;
  opacity: 0.8;
  border-radius: 5px;
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.monument {
  width: 100%;
  height: 250px;
  background-color: brown;
  margin-top: 10px;
  background-image: url("images/notre-dame-g83dbf15eb_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.arc-triomphe {
  width: 100%;
  height: 250px;
  background-color: green;
  margin-top: 10px;
  background-image: url("images/arcdetriomphe3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  border-top: 1px solid grey;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.banneer-end-page {
  width: 100%;
  height: 250px;
  background-color: yellow;
  margin-top: 10px;
  background-image: url("images/parisbynight.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
  border-top: 1px solid grey;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.text-welcome {
  font-size: 1rem;
  line-height: 25px;
  
}

.ville-lumière{

  background-color: black;
  color: white;
  margin:0;
  padding:4px;
  opacity:0.8;
}

.arc-triomphe button, .monument button {
  color: white;
  background-color: black;
  border: none;
  opacity: 0.8;
  margin-bottom:5px;
  margin-right:5px;
}

.tabs a {

  text-decoration: none;
  color:white;
}



@media screen and (min-width: 800px) {
  .hero {
    background-image: url("images/paris-843229_960_720.webp");
    background-size: cover;
    height: 600px;
  }

  .hero p {
    font-size: 25px;
  }

  main {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .monument,
  .arc-triomphe {
    width: 49.2%;
    height: 480px;
  }
  .text-welcome {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    line-height: 35px;
  }

  .banneer-end-page {
    height: 300px;
  }

  .arc-triomphe button, .monument button {

    padding:4px;
    cursor:pointer;
    border-radius:5px;
    font-size:20px;
  }

  .arc-triomphe button:hover, .monument button:hover{

   color:gold;
  }
}
