
body {
 
  font-family: "comfortaa", Arial, Helvetica, sans-serif;
  background-color: #fafaf9;
  margin:0;
  padding:0;
}
/*--------------------navbar--------------------------------*/


nav {
  display: flex;
  background-color: black;
  width: 100%;
  height: 70px;
 
}

.navbar-extends {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: none;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.hamburger {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.title-panam-web {
  list-style-type: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-desktop {
  color: white;
  display: none;
  width: 100%;
  align-items: baseline;
  justify-content: space-around;
  margin:0;
  padding:0;
  list-style-type: none;
}

#hello-paris {
  padding-top: 10px;
  padding-bottom:10px;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 1s ease;
  cursor: pointer;
}

#hello-paris img{

  height:1.8rem;
  background-color: black;
}

#hello-paris:hover {
  transform: translateX(-10px);
}

.navbar-desktop li i {
  margin-right: 5px;
}

/*--------------Adaptation desktop -----------------*/

@media screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }

  .title-panam-web {
    margin-left: 30px;
  }

  .navbar-desktop {
    display: flex;
  }

  .title-panam-web {
    display: none;
  }

.tabs{
  padding-top:30px;
  padding-bottom:22px;
  padding-right:4px;
  padding-left:4px;
}


  .tabs:hover {
    cursor: pointer;
    background-color: white;
    color: black;

  }
}
